/*  Add your styling here */
header .logo {
    background-color: rgb(223, 194, 194);
    font-size: 60px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}
.nav {
    font-size: 40px;
    margin: 40px 40px;
    background-color:  rgb(223, 194, 194);
    padding: 20px 20px;
}

.best {
    text-align:end;
}

main {
    margin: 10px 40px;
}
a {
    color: white;
}
nav li {
    font-size: 60px;
    border: 2px solid grey;
    margin: 0 40px;
    justify-content: space-evenly;
    background-color: rgb(197, 125, 125);
}

section {
    margin-bottom: 40px;
}

.welcome {
    background-color: rgb(224, 140, 140);
    padding: 0 35px;
    text-align: justify;
}
h3 {
    text-align: right;
    font-size: 80px;
    padding: 0 35px;

}
.wel {
    font-size: 45px;
}

.collage img {
    width: 100%;
}
footer {
    margin-bottom: 30px;
    background-color: rgb(223, 194, 194);
    padding: 0 20px;
}
